
<div>
  <div class="my-3">
    <%= link_to "Back to projects", projects_path %>
  </div>

  <%= render @project %>
  <div class="-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Edit this project", edit_project_path(@project), class: 'btn btn-warning' %>
    <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-danger' %>
  </div>

</div>
